@using Microsoft.AspNetCore.Routing

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a class="btn btn-primary popup" data-url="Comments/Create" data-toggle="modal" data-target="#modal-create-comment" id="Comments">Add New Comment <i class="fa fa-plus"></i></a>
<partial name="_SendCommentPartial" />
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Beskrivelse
            </th>
        </tr>
    </thead>
    <tbody id="comments">
    </tbody>
</table>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script type="text/javascript">

    function getSavedToken() {
        var jsontoken = jQuery.parseJSON(localStorage.getItem("token"));
        return jsontoken.token;
    }
    function isUserLoggedIn(){
        return localStorage.getItem("token") !== null;
    }
    function update() {
        listcomments(function(comments) {
            var strcomments = "";
            $.each(comments,
                function(index, comment) {
                    strcomments += "<tr><td>" + comment.name + "</td>" + "<td>" + comment.text + "</td></tr>";
                });
            $("#comments").html(strcomments);

        });


        function listcomments(callback) {
            $.ajax({
                beforeSend: function(xhr) {
                    if (isUserLoggedIn()) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + getSavedToken());
                    }
                },
                url: "/api/Comments/" + @Context.GetRouteData().Values["id"],
                data: {},
                type: "GET",
                contentType: "application/json;charset=utf-8"
            }).then(function(comments) {
                callback(comments);
            });
        }
    }
    var connection = new signalR.HubConnectionBuilder().withUrl("/commentshub").build();

    connection.on("ReceiveComment", function (comment) {
        update();
    });
    connection.start().catch(function (err) {
        return console.error(err.toString());
    });

    $(document).ready(function() {

        $("#comments").html("<p>Venter på data fra server" + "</p>");

        update();
    });
</script>